@font-face {
    font-family: "DBadmanX";
    src:
        local('DBadmanX'),
        local('DB adman X'),
        url('../font/DBAdmanX.ttf') format('truetype');
}

body {
    font-family: 'DBadmanX', sans-serif;
    background-color: rgb(245, 245, 245);
}
.g-banner {
    position: relative;
    width: 100%;
    height: 100%;

}
.g-text-banner {
    position: absolute;
    letter-spacing: 2px;
    font-size: 40px;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.g-help-content{
    padding:0 0 60px;
}

.wrapper {
    width: 1200px;
}

.g-help-content h2, .g-solution-content h2{
    font-size: 36px;
    padding:40px 0;
    text-align: center;
    margin:0;
}

.g-help-content .g-help-row {
    width: 1220px;
    display:flex;
    flex-wrap: wrap;
}
.g-help-content .g-help-row a {
    margin: 0 10px 20px;
    width: 285px;
    height: 380px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translate(0,0);
    transition: all ease-in-out .3s;
}

.g-help-content .g-help-row a:hover {
    transform: translate(0, -2px);
    box-shadow: 0 20px 60px rgb(0 0 0 / 6%);
}

.g-help-content .g-help-row a img, .g-solution-row div img {
    width: 90px;
    height: 90px;
    margin:0 0 57px;
}

.g-help-content .g-help-row a h3, .g-solution-row div a{
    color: black;
    font-size:24px;
}

.g-solution-content {
    background-color: white;
    padding:0 0 80px;
}

.g-solution-content .g-solution-row {
    display: flex;
    justify-content: space-between;
}

.g-solution-content .g-solution-row div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 380px;
    width: 590px;
    background: #f4f4f5;
}