@font-face {
    font-family: "DBadmanX";
    src:
      local('DBadmanX'),
      local('DB adman X'),
      url('font/DBAdmanX.ttf') format('truetype');
  }

body {
    font-family: 'DBadmanX', 'PingFang SC Regular', sans-serif;
}

.header {
    background-color: white;
  }

  .menu {
    font-size: 21px;

    color: black;
  }

  .menu:hover {
    color: rgb(252, 204, 20);
  }


  /* adds some margin below the link sets  */
  .navbar .dropdown-menu div[class*="col"] {
    margin-bottom: 1rem;
  }

  .navbar .dropdown-menu {
    border: none;
    background-color: #ffffff !important;
  }

  /* breakpoint and up - mega dropdown styles */
  @media screen and (min-width: 992px) {

    /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    .navbar .nav-item {
      padding: .5rem .5rem;
      margin: 0 .25rem;
    }

    /* makes the dropdown full width  */
    .navbar .dropdown {
      position: static;
    }

    .navbar .dropdown-menu {
      width: 100%;
      height: 320px;
      left: 0;
      right: 0;
      /*  height of nav-item  */
      top: 60px;
      box-shadow: 0 1px 5px -2px grey;
      display: block;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0s linear;

    }


    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu,
    .navbar .dropdown .dropdown-menu:hover {
      display: block;
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0s linear;
      box-shadow: 0 5px 10px -3px rgb(185, 185, 185);
    }

    .navbar .dropdown-menu {
      background-color: #fff;
    }

  }

  .submenu {
    font-size: 20px;
    font-weight: lighter;
    line-height: 1em;
    vertical-align: middle;
    display: inline-block;
  }

  .new {
    color: rgb(81, 223, 228);
    font-size: 16px !important;
  }

  .price {
    font-size: 20px;
    color: red;
    font-weight: bold;
  }
  .fadeUp {
    opacity: 0;
    transform: translateY(30px);
    transition: transform 0.3s ease, opacity 0.5s ease;
    
  }
  .dropdown:hover .fadeUp {
    opacity: 1;
    transform: translateY(0);

  }
  .sub-submenu, .sub-submenu:hover {
    font-size: 22px;
    color:black;
  }

  .tabmenu {
    color: black;
    font-size: 20px;
    line-height: 1.5rem;
  }
  .detail, .right-arrow {
    display: none;
  }
  .tabmenu:hover, .tabmenu:hover::after,.bold {
    font-weight: bold;
    color: black;
  }
  
  .detail { 
    position: fixed;
    top:0;
    left:200px;
    display: none;
    height: 100%;
  }

  .tabmenu:hover .right-arrow,.still-arrow {
    display: inline;
  }

  /* GT Master Page */
.k-banner {
    height: 650px;
    width: 100%;
    background-color: #000;
  }
  
  .k-navbar {
    height: 51px;
    background-color: #fff;
  }
  
  .k-gtmaster {
    width: 100%;
    height: 100%;
    background-image: url(https://static.realme.net/videos/pic/th/gt-master-edition/PC.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
  }
  
  .k-collapse {
    margin-left: 650px;
  }
  
  .k-item li a {
    text-decoration: none;
  }
  
  .k-item li a.active {
    color: #000;
  }
  
  .k-item li a {
    color: #94989d;
  }
  
  .container .product-nav-btn {
    padding: 10px 25px;
    font-size: 12px;
    text-align: center;
    background: #ffc915;
    color: #000;
    text-decoration: none;
  }
  
  .k-point {
    height: 1112px;
    background-image: url(https://static.realme.net/videos/pic/global/gt-master/p/pointer.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top center;
  }
  
  .k-wrapper{
    height: 750px;
    text-align: center;
    margin: 0 auto;
    padding-top: 180px;
  }
  
  .k-wrapper .k-content-text {
    position: relative;
    list-style: none;
    color: #fff;
    font-size: 22px;
    opacity: 0.8;
    padding: 30px;
  }
  
  .k-text-item {
    line-height: 25px;
    margin-bottom: 60px;
  }

  .k-wrapper1 {
    height: 1624px;
    padding: 180px 0 0;
    background-color: #121212;
    text-align: center;
    margin: 0 auto;
  }

  .k-wrapper1 .k-title {
    font-size: 60px;
    color: #fff;
    margin: 0 0 100px;
  }

  .k-wrapper2 {
    height: 1072px;
    margin: 0 auto;
  }

  .k-explore {
    height: 100%;
  }

  .k-params {
    position: relative;
    margin: 0 auto;
  }

  .k-explore-item {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 578px;
    height: 250px;
    margin-bottom: 24px;
  }

  .k-explore-item .k-item-content {
    text-align: center;
  }

  div {
    display: block;
  }

  section {
    display: block;
  }

  .k-content1, .k-content2 {
    font-size: 40px;
  }

  .k-item-title {
    margin-bottom: 8px;
  }

  .k-item-content .k-desc {
    font-size: 20px;
    line-height: 28px;
  }

  .k-designer-videos {
    height: 750px;
    background-color: #000;
  }

  .k-designer-videos .k-video {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .k-designer-videos video {
    height: 750px;
  }

  video {
    object-fit: contain;
  }

  a .k-dialog-video-play {
    display: block;
    width: 70px;
    height: 70px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4w…gPC9nPg0KICAgICAgICA8L2c+DQogICAgPC9nPg0KPC9zdmc+);
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    z-index: 7;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .k-designer-title {
    position: relative;
    height: 400px;
    text-align: center;
    background-color: #121212;    
  }

  .k-wrapper-content {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;

  }

  .k-content {
    margin: 0 auto;
  }

  .k-designer-title .k-content .k-bgtitle {
    width: 100%;
    position: relative;
    height: 2px;
    margin: 0 auto;
    background: #8c92a3;
  }

  .k-designer-title .k-content .k-bgtitle .k-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    line-height: 24px;
    color: #8c92a3;
    padding: 0 15px;
    width: fit-content;
    background: #121212;
  }

  .k-designer-title .k-content .k-bottom-title {
    margin-top: 36px;
    font-size: 70px;
    color: #fff;
  }

  .wrapper3 {
    height: 1130px;
    background-color: #000;
    margin: 0 auto;
  }

  .wrapper3 .k-designer-speech {
    width: 1200px;
    height: 814px;
    box-sizing: border-box;
    padding-top: 200px;
    color: #fff;
    position: relative;
    margin: 0 auto;
  }

  .wrapper3 .k-designer-speech .k-speech p {
    font-size: 22px;
    color: rgba(255, 255, 255, .6);
  }

  .wrapper3 .k-designer-speech .k-speech .k-bottom .k-little {
    font-size: 32px;
    line-height: 38px;
  }

  .wrapper3 .k-designer-speech .k-speech .k-bottom .k-title {
    font-size: 40px;
    line-height: 48px;
    margin-top: 40px;
  }

  .k-img {
    width: 1095px;
    height: 730px;
    position: absolute;
    left: 469px;
    top: 200px;
  }
  
  .wrapper3 .k-designer-speech .k-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    float: left;
  }

  .k-sec-design-one {
    height: 1536px;
    background: #000;
  }

  .k-sec-wrapper {
    width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  .k-sec-design-one .k-sec-wrapper {
    height: 100%;
  }

  .k-sec-design-one .k-sec-content {
    position: relative;
    width: 1014px;
    height: 100%;
    margin: 0 auto;
    padding-top: 250px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
  }

  .k-sec-design-one .k-color-box {
    position: absolute;
    left: 50%;
    top: 250px;
    transform: translateX(-50%);
    width: 1014px;
  }

  .k-sec-design-one .k-color-box .k-sec-item {
    width: 100%;
  }

  .k-sec-design-one .k-color-box img {
    width: 100%;
    height: 730px;
    object-fit: cover;
  }

  .k-sec-design-one .k-color-box .k-desc {
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, .6);
    margin-top: 30px;
  }

  .k-sec-title {
    font-size: 60px;
    line-height: 88px;
  }

  .k-sec-design-one .k-sec-title {
    margin-top: 860px;
  }

  .k-sec-desc {
    font-size: 24px;
    line-height: 38px;
  }

  .k-sec-design-one .k-sec-desc {
    color: rgba(255, 255, 255, .8);
    margin-top: 40px;
  }

  .k-sec-design-two {
    height: 1004px;
    background: #000;
  }

  .k-sec-design-two .k-sec-wrapper {
    color: #fff;
    text-align: center;
  }

  .k-sec-design-two .k-sec-content {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 1540px;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }

  .k-sec-design-two .k-sec-item {
    width: 500px;
  }

  .k-sec-design-two .k-sec-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .k-sec-design-two .k-sec-item .k-desc {
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, .6);
    margin-top: 30px;
  }

  .k-sec-design-two .k-sec-title {
    margin-top: 80px;
  }

  .k-sec-design-two .k-sec-desc {
    width: 1020px;
    margin: 40px auto 0 auto;
  }
  /* End of GT Master Page */