@font-face {
    font-family: "DBadmanX";
    src:
      local('DBadmanX'),
      local('DB adman X'),
      url('../font/DBAdmanX.ttf') format('truetype');
  }

body {
    font-family: 'DBadmanX', 'PingFang SC Regular', sans-serif;
}

  /* GT Master Page */

  h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
  }

  .k-purchase-box {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 15;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    justify-content: center;

  }

  .k-purchase-box .k-purchase-site-modal {
    background: #fff;
    position: relative;
    width: 834px;
  }

  .k-purchase-box .k-purchase-site-modal .k-purchase-site-close-icon {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }

  .k-purchase-box .k-purchase-site-modal .k-purchase-site-message {
    box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 10%);
    border-radius: 4px 4px 0 0;
    text-align: center;
    color: #333;
    padding: 40px 0;
  }

  .k-purchase-box .k-purchase-site-modal .k-purchase-site-option {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 132px;
    padding-right: 0;
    max-height: 60vh;
    max-width: 60vh;
    overflow-y: auto;
  }

  .k-purchase-box .k-purchase-site-modal .k-purchase-site-option .k-country-item {
    margin-right: 0;
  }

  .k-purchase-box .k-purchase-site-modal .k-purchase-site-option .k-purchase-site-details {
    display: flex;
    flex-wrap: wrap;
    max-width: 720px;
  }

  .k-purchase-box .k-purchase-site-modal .k-purchase-site-option .k-purchase-site-details a {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
    margin: 9px;
    overflow: hidden;
  }

  .k-purchase-box .k-purchase-site-modal .k-purchase-site-option .k-purchase-site-details a img {
    width: 160px;
    height: 160px;
  }

  .k-banner {
    height: 100%;
    width: 100%;
  }

  .k-wrapper-banner {
    height: 650px;
    width: 100%;
    background-color: #000;
  }
  
  .k-navbar {
    height: 51px;
    background-color: #fff;
  }
  
  .k-gtmaster {
    width: 100%;
    height: 100%;
    background-image: url(img/gtmaster.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
  }
  
  .k-collapse {
    margin-left: 650px;
  }
  
  .k-item li a {
    text-decoration: none;
  }
  
  .k-item li a.active {
    color: #000;
  }
  
  .k-item li a {
    color: #94989d;
  }
  
  .container .product-nav-btn {
    padding: 10px 25px;
    font-size: 12px;
    text-align: center;
    background: #ffc915;
    color: #000;
    text-decoration: none;
  }
  
  .k-point {
    height: 1112px;
    background-image: url(img/pointer.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top center;
  }
  
  .k-wrapper{
    height: 750px;
    text-align: center;
    margin: 0 auto;
    padding-top: 180px;
  }
  
  .k-wrapper .k-content-text {
    position: relative;
    list-style: none;
    color: #fff;
    font-size: 22px;
    opacity: 0.8;
    padding: 30px;
  }
  
  .k-text-item {
    line-height: 25px;
    margin-bottom: 60px;
  }

  .k-sec-explore {
    height: 1624px;
    padding-top: 180px;
    background-color: #121212;
    color: #fff;
    box-sizing: border-box;
  }

  .k-sec-explore .k-sec-wrapper .k-sec-title {
    text-align: center;
    margin-bottom: 100px;
    line-height: 72px;
  }

  .k-sec-explore .k-sec-content {
    position: relative;
    width: 1176px;
    height: 1072px;
  }

  .k-sec-explore .k-sec-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .k-sec-explore .k-sec-content .k-params {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .k-sec-explore .k-sec-content .k-sec-explore-item {
    position: relative;
    width: 578px;
    height: 250px;
    margin-bottom: 24px;
    top: 125px;
    transform: translateY(-50%);
  }

  .k-sec-explore .k-sec-content .k-sec-explore-item .k-sec-item-content {
    position: absolute;
    text-align: center;
    color: rgba(255, 255, 255, .6);
  }

  .k-sec-explore .k-sec-content .k-content1,
  .k-sec-explore .k-sec-content .k-content2 {
    right: 50px;
  }

  .k-sec-explore .k-sec-content .k-content1 {
    top: 80px;
  }

  .k-sec-explore .k-sec-content .k-content2 {
    top: 60px;
  }

  .k-sec-explore .k-sec-content .k-content3 {
    width: 100%;
    left: 0;
    bottom: 48px;
  }

  .k-sec-explore .k-sec-content .k-content4 {
    left: 50px;
    top: 90px;
  }

  .k-sec-explore .k-sec-content .k-content5 {
    left: 0;
    top: 40px;
    width: 100%;
  }

  .k-sec-explore .k-sec-content .k-content6 {
    right: 40px;
    top: 55px;
  }

  .k-sec-explore .k-sec-content .k-content7 {
    right: 50px;
    top: 55px;
  }

  .k-sec-explore .k-sec-content .k-content8 {
    left: 50px;
    top: 55px;
  }

  .k-sec-explore .k-sec-content .k-sec-explore-item .k-sec-item-content .k-title {
    line-height: 48px;
    font-size: 40px;
    margin-bottom: 8px;
  }

  .k-sec-explore .k-sec-content .k-sec-explore-item .k-content3 .k-title,
  .k-sec-explore .k-sec-content .k-sec-explore-item .k-content4 .k-title,
  .k-sec-explore .k-sec-content .k-sec-explore-item .k-content5 .k-title,
  .k-sec-explore .k-sec-content .k-sec-explore-item .k-content6 .k-title,
  .k-sec-explore .k-sec-content .k-sec-explore-item .k-content8 .k-title {
    font-size: 30px;
  }

  .k-sec-explore .k-sec-content .k-sec-explore-item .k-sec-item-content .k-desc {
    font-size: 20px;
  }

  div {
    display: block;
  }

  section {
    display: block;
  }

  .k-designer-videos {
    height: 750px;
    background-color: #000;
    position: relative;
  }

  .k-designer-videos .k-video {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .k-designer-videos video {
    height: 750px;
  }

  .k-designer-videos .k-video a.k-play {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .k-designer-videos .k-video a.k-play img {
    width: 70px;
    height: 83px;
  }

  video {
    object-fit: contain;
    overflow: hidden;
  }

  .k-designer-title {
    position: relative;
    height: 400px;
    text-align: center;
    background-color: #121212;    
  }

  .k-wrapper-content {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;

  }


  .k-designer-title .k-content .k-bgtitle {
    width: 100%;
    position: relative;
    height: 2px;
    margin: 0 auto;
    background: #8c92a3;
  }

  .k-designer-title .k-content .k-bgtitle .k-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    line-height: 24px;
    color: #8c92a3;
    padding: 0 15px;
    width: fit-content;
    background: #121212;
  }

  .k-designer-title .k-content .k-bottom-title {
    margin-top: 36px;
    font-size: 70px;
    color: #fff;
  }

  .wrapper3 {
    height: 1130px;
    background-color: #000;
    margin: 0 auto;
  }

  .wrapper3 .k-designer-speech {
    width: 1200px;
    height: 814px;
    box-sizing: border-box;
    padding-top: 200px;
    color: #fff;
    position: relative;
    margin: 0 auto;
  }

  .wrapper3 .k-designer-speech .k-speech p {
    font-size: 22px;
    color: rgba(255, 255, 255, .6);
  }

  .wrapper3 .k-designer-speech .k-speech .k-bottom .k-little {
    font-size: 32px;
    line-height: 38px;
  }

  .wrapper3 .k-designer-speech .k-speech .k-bottom .k-title {
    font-size: 40px;
    line-height: 48px;
    margin-top: 40px;
  }

  .k-img {
    width: 1095px;
    height: 730px;
    position: absolute;
    left: 469px;
    top: 200px;
  }
  
  .wrapper3 .k-designer-speech .k-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    float: left;
  }

  .k-sec-design-one {
    height: 1536px;
    background: #000;
  }

  .k-sec-wrapper {
    width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  .k-sec-design-one .k-sec-wrapper {
    height: 100%;
  }

  .k-sec-design-one .k-sec-content {
    position: relative;
    width: 1014px;
    height: 100%;
    margin: 0 auto;
    padding-top: 250px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
  }

  .k-sec-design-one .k-color-box {
    position: absolute;
    left: 50%;
    top: 250px;
    transform: translateX(-50%);
    width: 1014px;
  }

  .k-sec-design-one .k-color-box .k-sec-item {
    width: 100%;
  }

  .k-sec-design-one .k-color-box img {
    width: 100%;
    height: 730px;
    object-fit: cover;
  }

  .k-sec-design-one .k-color-box .k-desc {
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, .6);
    margin-top: 30px;
  }

  .k-sec-title {
    font-size: 60px;
    line-height: 88px;
  }

  .k-sec-design-one .k-sec-title {
    margin-top: 860px;
  }

  .k-sec-desc {
    font-size: 24px;
    line-height: 38px;
    color: rgba(255, 255, 255, .6);
  }

  .k-sec-design-one .k-sec-desc {
    color: rgba(255, 255, 255, .8);
    margin-top: 40px;
  }

  .k-sec-design-two {
    height: 1004px;
    background: #000;
  }

  .k-sec-design-two .k-sec-wrapper {
    color: #fff;
    text-align: center;
  }

  .k-sec-design-two .k-sec-content {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 1540px;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }

  .k-sec-design-two .k-sec-item {
    width: 500px;
  }

  .k-sec-design-two .k-sec-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .k-sec-design-two .k-sec-item .k-desc {
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, .6);
    margin-top: 30px;
  }

  .k-sec-design-two .k-sec-title {
    margin-top: 80px;
  }

  .k-sec-design-two .k-sec-desc {
    width: 1020px;
    margin: 40px auto 0 auto;
  }

  .k-sec-design-three {
    height: 780px;
    background: #000;
    padding-bottom: 50px;
  }

  .k-sec-design-three .k-sec-content,
  .k-sec-design-three .k-sec-wrapper {
    height: 100%;
  }

  .k-sec-design-three .k-sec-content {
    width: 1020px;
    margin: 0 auto;
  }

  .k-sec-design-three .k-sec-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 730px;
    color: #fff;
  }

  .k-sec-design-three .k-sec-item .k-content {
    width: 280px;
  }

  .k-sec-design-three .k-sec-item .k-content .k-title {
    font-size: 40px;
    line-height: 48px;
  }

  .k-sec-design-three .k-sec-item .k-content .k-sec-desc {
    margin-top: 20px;
    color: rgba(255, 255, 255, .8);
  }

  .k-sec-design-three .k-sec-item img {
    width: 548px;
    height: 100%;
  }

  .k-sec-screen {
    height: 1282px;
    background: #000;
  }

  .k-sec-screen .k-sec-video {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
    height: 1050px;
  }

  .k-sec-screen .k-sec-video video {
    width: 100%;
    height: 100%;
  }

  .k-sec-screen .k-sec-wrapper {
    padding-top: 910px;
    text-align: center;
    color: #fff;
  }

  .k-sec-screen .k-sec-wrapper .k-sec-desc {
    margin-top: 40px;
  }

  .k-sec-screencontent {
    height: 1072px;
    background: #000;
    color: #fff;
    box-sizing: border-box;
  }

  .k-sec-screencontent .k-sec-wrapper .k-sec-desc {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 1176px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 100px;
  }

  .k-sec-screencontent .k-sec-wrapper .k-sec-desc .k-sec-explore-item {
    width: 578px;
    height: 200px;
    margin-bottom: 24px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    background: #151619;
    border-radius: 20px;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  ul li {
    list-style: none;
  }

  .k-sec-screencontent .k-sec-wrapper .k-sec-desc .k-sec-explore-item .k-sec-item-content .k-sec-item-text {
    height: 56px;
    font-size: 40px;
    background: linear-gradient(90deg, #7c8291 0, #a7abba 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .k-sec-screencontent .k-sec-wrapper .k-sec-desc .k-sec-explore-item .k-sec-item-content {
    font-size: 20px;
    color: rgba(255, 255, 255, .8);
    text-align: center;
  }

  .k-sec-performance {
    height: 1602px;
    background: #000;
  }

  .k-sec-bg {
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top center;
  }

  .k-sec-performance .k-sec-bg {
    height: 1440px;
    background-image: url(img/snapdragon.jpg);
    position: absolute;
    width: 100%;
  }

  .k-sec-performance .k-sec-wrapper {
    padding-top: 1280px;
    color: #fff;
    text-align: center;
  }

  .k-sec-performance .k-sec-wrapper .k-sec-desc {
    margin-top: 40px;
  }

  .k-sec-point2 {
    height: 872px;
    background: #000;
  }

  .k-sec-point2 .k-sec-wrapper .k-sec-desc {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 1176px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 100px;
  }

  .k-sec-point2 .k-sec-wrapper .k-sec-desc .k-sec-explore-item {
    width: 578px;
    height: 200px;
    margin-bottom: 24px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    background: #151619;
    border-radius: 20px;
  }

  .k-sec-point2 .k-sec-wrapper .k-sec-desc .k-sec-explore-item .k-sec-item-content .k-sec-item-text {
    height: 56px;
    font-size: 40px;
    background: linear-gradient(90deg, #7c8291 0, #a7abba 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .k-sec-point2 .k-sec-wrapper .k-sec-desc .k-sec-explore-item .k-sec-item-content {
    font-size: 20px;
    color: rgba(255, 255, 255, .8);
    text-align: center;
  }

  .k-sec-speed {
    height: 1510px;
    background: #000;
    color: #fff;
  }

  .k-sec-speed .k-sec-content{
    padding-top: 662px;
  }

  .k-sec-speed .k-content {
    width: 350px;
  }

  .k-sec-speed .k-sec-title {
    font-size: 40px;
    line-height: 58px;
  }

  .k-sec-speed .k-sec-desc {
    margin-top: 20px;
    color: rgba(255, 255, 255, .8);
  }

  .k-sec-speed .k-sec-product {
    position: absolute;
    top: 200px;
    left: 533px;
    height: 1195px;
    width: 552px;
  }

  .k-sec-speed .k-sec-product video {
    width: 100%;
    height: 100%;
  }

  .k-sec-dissipate {
    height: 1420px;
    background: #000;
    color: #fff;
  }

  .k-sec-dissipate .k-sec-wrapper {
    padding-top: 1015px;
    text-align: center;
  }

  .k-sec-dissipate .k-phone {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1910px;
    height: 1080px;
    transform: translate(-50%, 0);
  }

  .k-sec-dissipate .k-phone img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .k-sec-dissipate .k-sec-title {
    position: relative;
  }

  .k-sec-dissipate .k-sec-desc {
    margin-top: 40px;
    color: rgba(255, 255, 255, .8);
  }

  .k-sec-charge {
    height: 1500px;
    background: #000;
    color: #fff;
    text-align: center;
  }

  .k-sec-charge .k-sec-wrapper {
    padding-top: 1240px;
  }

  .k-sec-charge .k-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 1221px;
  }

  .k-sec-charge .k-bg img {
    width: 1360px;
    height: 100%;
    object-fit: cover;
  }

  .k-sec-charge .k-sec-title {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .k-sec-engine {
    height: 1860px;
    background: #000;
  }

  .k-sec-engine .k-sec-wrapper {
    padding-top: 280px;
    color: #fff;
    text-align: center;
  }

  .k-sec-engine .k-bg {
    position: relative;
    width: 100%;
    height: 907px;
  }

  .k-sec-engine .k-bg img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1360px;
    height: 100%;
    object-fit: cover;
  }

  .k-sec-engine .k-sec-title {
    margin: 120px 0 40px 0;
  }

  .k-sec-engine .k-sec-desc {
    width: 1120px;
    margin: 0 auto;
  }

  .k-sec-designer-two {
    height: 1286px;
    background: #000;
  }

  .k-sec-designer-two .k-sec-designer-speech {
    padding-top: 200px;
    box-sizing: border-box;
    color: #fff;
    position: relative;
  }

  .k-sec-designer-two .k-sec-designer-speech .k-sec-speech .k-desc {
    color: rgba(255, 255, 255, .6);
  }

  .k-sec-designer-two .k-sec-designer-speech .k-sec-speech .k-desc p {
    font-size: 22px;
    line-height: 42px;
    margin: 0;
  }

  .k-sec-designer-two .k-sec-designer-speech .k-sec-image {
    width: 1095px;
    height: 730px;
    position: absolute;
    left: 469px;
    top: 200px;
  }

  .k-sec-designer-two .k-sec-designer-speech .k-sec-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .k-sec-designer-two .k-sec-image .k-img-desc {
    font-size: 24px;
    line-height: 38px;
    margin-top: 80px;
    text-align: center;
  }

  .k-sec-cameramode {
    height: 1240px;
    background: #000;
    color: #fff;
  }

  .k-sec-cameramode .k-bg {
    width: 1180px;
    height: 885px;
    margin: 0 auto 80px auto;
  }

  .k-sec-cameramode .k-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .k-sec-cameramode .k-sec-desc {
    text-align: center;
  }

  .k-sec-cameramode3 {
    height: 1700px;
  }

  .k-sec-cameramode3 .k-sec-wrapper {
    padding-top: 50px;
  }

  .k-sec-cameramode3 .k-sec-title {
    text-align: center;
    margin-bottom: 40px;
  }

  .k-sec-cameramode3 .k-sec-desc-one {
    margin-bottom: 120px;
  }

  .k-sec-cameramode3 .k-bg {
    height: 786px;
  }

  .k-sec-design-four {
    height: auto;
    padding-bottom: 200px;
  }

  .k-sec-design-four .k-sec-content, .k-sec-design-four .k-sec-wrapper {
    height: 100%;
  }

  .k-sec-design-four .k-sec-content {
    width: 1040px;
  }

  .k-sec-cameramode-five {
    height: 1136px;
    background: #000;
    color: #fff;
  }

  .k-sec-cameramode-five .k-sec-content {
    width: 1120px;
    margin-left: auto;
    display: flex;
  }

  .k-sec-cameramode-five .k-content {
    width: 450px;
    margin: 220px auto 0 0;
  }

  .k-sec-cameramode-five .k-content .k-sec-title {
    margin: 0;
    font-size: 40px;
    line-height: 60px;
  }

  .k-sec-cameramode-five .k-content .k-sec-desc {
    margin-top: 20px;
  }

  .k-sec-cameramode-five .k-bg {
    width: 548px;
  }

  .k-sec-cameramode-five .k-bg img {
    width: 100%;
    height: 730px;
    object-fit: cover;
  }

  .k-sec-cameramode-five .k-bg .k-sec-desc {
    width: 610px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-top: 80px;
    text-align: center;
  }

  .k-sec-videomode {
    height: 1773px;
    background: #000;
    color: #fff;
  }

  .k-sec-videomode .k-sec-wrapper {
    text-align: center;
  }

  .k-sec-videomode .k-sec-title {
    margin-bottom: 40px;
  }

  .k-sec-videomode .k-phone {
    position: absolute;
    top: 362px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1164px;
  }

  .k-sec-videomode .k-phone img {
    width: 100%;
  }

  .k-sec-videomode .k-phone .k-params {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .k-sec-videomode .k-phone .k-item {
    position: absolute;
    left: 0;
    font-size: 18px;
    opacity: .6;
  }

  .k-sec-videomode .k-phone .k-item1 {
    top: 48px;
  }

  .k-sec-videomode .k-phone .k-item2 {
    top: 122px;
  }

  .k-sec-videomode .k-phone .k-item3 {
    top: 195px;
  }

  .k-sec-videomode .k-phone .k-item4 {
    top: 266px;
  }

  .k-sec-videomode .k-phone .k-item5 {
    top: 340px;
  }

  .k-sec-videomode .k-phone .k-item6 {
    left: auto;
    right: 380px;
    bottom: 0;
  }

  .k-sec-videomode .k-phone .k-item7 {
    left: auto;
    right: -30px;
    top: 193px;
  }

  .k-recording {
    position: absolute;
    top: 1043px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 2048px;
  }

  .k-sec-videomode .k-recording img {
    width: 100%;
  }

  .k-sec-camera {
    height: 1440px;
    background: #000;
    color: #fff;
  }

  .k-sec-camera .k-sec-wrapper {
    padding-top: 80px;
    text-align: center;
  }

  .k-sec-camera .k-sec-title {
    margin-bottom: 40px;
  }

  .k-sec-camera .k-bg {
    position: absolute;
    top: 546px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1594px;
  }

  .k-sec-camera .k-bg img {
    width: 100%;
  }

  .k-sec-camera .k-bg .k-params {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .k-sec-camera .k-bg .k-item {
    position: absolute;
    left: 1210px;
    font-size: 16px;
    opacity: .6;
  }

  .k-sec-camera .k-bg .k-item1 {
    top: 430px;
  }

  .k-sec-camera .k-bg .k-item2 {
    top: 465px;
  }

  .k-sec-camera .k-bg .k-item3 {
    top: 503px;
  }

  .k-sec-resolvepower {
    height: 1204px;
    background: #000;
    color: #fff;
  }

  .k-sec-resolvepower .k-sec-wrapper {
    padding-top: 700px;
    text-align: center;
  }

  .k-sec-resolvepower .k-sec-content {
    width: 100%;
    margin: 0 auto;
  }

  .k-sec-resolvepower .k-sec-title {
    margin-bottom: 40px;
  }

  .k-sec-resolvepower .k-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1224px;
  }

  .k-sec-resolvepower .k-bg img {
    width: 100%;
  }

  .k-sec-nightscape-one {
    height: 1390px;
    background: #000;
    color: #fff;
  }

  .k-sec-nightscape-one .k-sec-wrapper {
    text-align: center;
  }

  .k-sec-nightscape-one .k-sec-title {
    margin-bottom: 40px;
  }

  .k-sec-nightscape-one .k-bg {
    position: absolute;
    top: 324px;
    left: 50%;
    transform: translate(-50%);
    width: 1180px;
  }

  .k-sec-nightscape-one .k-bg img {
    width: 100%;
  }

  .k-sec-nightscape-one .k-bg .k-sec-desc {
    margin-top: 80px;
  }

  .k-sec-nightscape-two {
    height: 1186px;
    background: #000;
    color: #fff;
  }

  .k-sec-nightscape-two .k-bg {
    margin-left: 50%;
    transform: translate(-50%, 0);
    width: 2048px;
  }

  .k-sec-nightscape-two .k-bg img {
    width: 100%;
  }

  .k-sec-nightscape-two .k-sec-desc {
    text-align: center;
    margin-top: 80px;
  }

  .k-sec-ui {
    height: 1259px;
    color: #000;
  }

  .k-sec-ui .k-sec-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(img/android.jpg);
  }

  .k-sec-ui .k-sec-content {
    text-align: center;
    color: #fff;
  }

  .k-sec-ui .k-sec-content .k-logo {
    width: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
  }

  .k-sec-ui .k-sec-content .k-logo img {
    width: 100%;
  }

  .k-sec-ui .k-sec-content .k-slogan-box {
    padding-top: 250px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .k-sec-ui .k-sec-content .k-ui-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 20px;
  }

  .k-sec-ui .k-sec-content .k-slogan {
    font-size: 36px;
    line-height: 50px;
    color: rgba(255, 255, 255, .8);
    position: relative;
    top: 0;
    left: 0;
    width: auto;
  }

  .k-sec-nfc {
    height: 1400px;
    background: #000;
    color: #fff;
  }

  .k-sec-nfc .k-sec-wrapper {
    padding-top: 200px;
  }

  .k-sec-nfc .k-phone {
    position: static;
    left: 0;
    top: 0;
    width: 1200px;
    height: 600px;
  }

  .k-sec-nfc .k-phone img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .k-sec-nfc .k-phone .k-sec-title {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    font-size: 50px;
  }

  .k-sec-nfc .k-sec-content {
    width: 100%;
    text-align: center;
    margin: 80px auto 0 auto;
  }

  .k-sec-nfc .k-sec-title {
    font-size: 60px;
    margin-bottom: 20px;
    line-height: 58px;
  }

  .k-sec-remark {
    height: 724px;
    background: #121212;
    color: #fff;
  }

  .k-sec-remark .k-sec-wrapper{
    padding: 200px 0;
  }

  .k-sec-remark p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 36px;
    color: rgba(255, 255, 255, .6);
  }

  .k-sec-spec-banner {
    margin-top: 0 !important;
    padding-top: 0;
    width: 100%;
    height: auto;
    background: #fafafa;
    color: #000;
  }

  .k-swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }

  .k-sec-spec-banner .k-swiper-container {
    position: absolute;
    left: 50%;
    top: 100px;
    left: -50px;
    height: 600px;
    width: 600px;
    z-index: 0;
  }

  .k-swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
  }

  .k-swiper-wrapper .k-phone-color {
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;
    position: absolute;
  }

  .k-sec-spec-banner .k-sec-spec-point {
    margin-left: 520px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 140px;
  }

  .k-sec-spec-banner .k-sec-spec-point .k-sec-spec-item {
    width: 340px;
    flex-shrink: 0;
    margin-bottom: 50px;
  }

  .k-sec-spec-banner .k-sec-spec-point .k-sec-spec-item p {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 10px;
  }

  .k-sec-spec-banner .k-sec-spec-point .k-sec-spec-item p:nth-child(2) {
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    line-height: 19px;
  }

  .k-sec-spec-banner .k-sec-spec-point .k-sec-spec-item:nth-last-child(1) {
    width: 500px;
  }

  .k-sec-spec-banner .k-spec-color {
    z-index: 2;
    padding-top: 30px;
  }

  .k-sec-spec-banner .k-sec-spec-point .k-sec-spec-item .k-sec-spec-color-title {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    line-height: 27px;
  }

  .k-sec-spec-banner .k-sec-spec-point .k-sec-spec-color {
    display: flex;
    padding-top: 28px;
  }

  .k-sec-spec-banner .k-spec-color a {
    color: rgba(0, 0, 0, .4);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    margin-right: 40px;
  }

  .k-sec-spec-banner .k-spec-color a span {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .k-sec-spec-banner .k-spec-color a span::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
  }

  .k-sec-spec-banner .k-spec-color a.k-one.k-selected span::before {
    background: linear-gradient(90deg, #5c606a 0, #6e707b 17%, #999ca5 49%, #6e707b 81%, #464a53 100%) rgba(0, 0, 0, .2);
  }

  .k-sec-spec-banner .k-spec-color a.k-two.k-selected span::before {
    background: linear-gradient(90deg, #cccbf8 0, #ebd1d4 19%, #f3f7ff 51%, #bec7f9 83%, #6080d1 100%) rgba(0,0,0, .4);
  }

  .k-sec-spec-banner .k-spec-color a.k-one span::after {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    width: 30px;
    height: 30px;
    background: linear-gradient(90deg, #5c606a 0, #6e707b 17%, #999ca5 49%, #6e707b 81%, #464a53 100%) rgba(0, 0, 0, .2);
    border: 2px solid #fff;
    border-radius: 50%;
  }

  .k-sec-spec-banner .k-spec-color a p {
    margin-top: 21px;
  }

  .k-sec-spec-banner .k-spec-color a.k-two span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    width: 30px;
    height: 30px;
    background: linear-gradient(90deg, #cccbf8 0, #ebd1d4 19%, #f3f7ff 51%, #bec7f9 83%, #6080d1 100%) rgba(0, 0, 0, .4);
    border: 2px solid #fff;
    border-radius: 50%;
  }

  .k-sec-spec-params {
    margin-top: -1px;
    overflow: hidden;
    background: #fff;
  }

  .k-sec-spec-params .k-sec-wrapper {
    padding: 80px 0 53px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  .k-sec-spec-params .k-sec-spec-item {
    padding: 80px 0;
    display: flex;
    position: relative;
    border-bottom: solid 0.01rem #e9e9e9;
  }

  .k-sec-spec-params .k-sec-spec-item:last-child {
    border-bottom: none;
  }


  .k-sec-spec-params .k-sec-spec-item .k-sec-label {
    width: 202px;
    font-size: 24px;
    line-height: 33px;
    color: #000;
    margin-top: 5px;
  }

  .k-sec-spec-params .k-sec-spec-item .k-sec-spec-list {
    width: 1000px;
    font-size: 16px;
    line-height: 40px;
    color: #282828;
  }

  .k-sec-spec-params .k-sec-spec-item .k-sec-spec-list .k-sec-spec-title {
    font-size: 34px;
    line-height: 48px;
    margin-bottom: 10px;
  }

  .k-sec-spec-params .k-sec-spec-item .k-sec-spec-list ul.k-sec-spec-whole {
    width: 100%;
  }

  .k-sec-spec-params .k-sec-spec-item .k-sec-spec-list ul:last-child {
    margin-bottom: 0;
  }

  .k-sec-spec-params .k-sec-spec-item .k-sec-spec-list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
  }

  .k-sec-spec-params .k-sec-spec-item .k-sec-spec-list ul li:last-child {
    margin-bottom: 0;
  }

  .k-sec-spec-params .k-sec-spec-item .k-sec-spec-list ul.k-sec-spec-whole li {
    width: 100%;
  }

  .k-sec-spec-params .k-sec-spec-item .k-sec-spec-list ul.k-sec-spec-one {
    width: 70%;
    height: 698px;
  }

  p {
    margin: 0;
  }

  .k-sec-spec-params .k-sec-spec-item .k-sec-spec-list ul.k-sec-spec-two {
    width: 66%;
  }

  .k-sec-spec-params .k-sec-spec-item .k-sec-spec-list .k-spec-detail {
    display: flex;
  }

  .k-sec-spec-params .k-sec-spec-item .k-sec-spec-list ul li {
    margin-bottom: 40px;
  }

  .k-sec-spec-params .k-sec-spec-item .k-sec-spec-list .k-sec-item-title {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 20px;
  }

  .k-sec-spec-params .k-sec-spec-item .k-sec-spec-list ul.k-sec-spec-half {
    width: 70%;
    margin-bottom: 58px;
  }
  /* End of GT Master Page */